:local(.styles) {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  .dropdown {
    position: absolute;
    top: 4px;
    right: 5px;
    z-index: 2;
  }

  #app-name {
    color: $white;
    text-decoration: none;
  }

  #metamask-signin {
    position: absolute;
    top: 16px;
    right: 25px;
  }

  #eth-address {
    position: absolute;
    top: 17px;
    right: 75px;
    width: 300px;
    button {
      height: 25px;
      margin-top: 2px;
    }
    input {
      height: 33px;
    }
  }
}
