:local(.styles) {
  h2 {
    margin-bottom: 50px;
  }

  #debt-amount-display {
    span {
      display: inline-block;
      margin-right: 20px;
    }

    #pay-debt-btn,
    #loader {
      float: right;
    }
  }
}
